name: CI

on: [push, pull_request]

jobs:
  build-lint-test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 15.x]
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v2
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: ${{matrix.node-version}}
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: Install Dependencies
        run: npm install
        env:
          NODE_ENV: development
      - name: Lint-CI
        run: npm run lint-ci
      - name: Test-CI
        run: npm run test-ci


  automerge:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: salmanm/github-action-merge-dependabot@v1
        if: ${{ github.actor == 'dependabot[bot]' && github.event_name == 'pull_request' }}
        with:
          github-token: ${{secrets.github_token}}
